<div class="bg-light p-5">
    <div class="continer">
        <div class="row p-5">
            <form class="col-7" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3 p-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                        aria-describedby="emailHelp" placeholder="Enter your Email">
                    <ng-container *ngIf="email.touched">
                        <div *ngIf="email.hasError('required')">
                            <div id="emailHelp" class="form-text text-danger">
                                Email is required
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="mb-3 p-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                        placeholder="Enter your Password">
                    <ng-container *ngIf="password.touched">
                        <div *ngIf="password.hasError('required')">
                            <div id="emailHelp" class="form-text text-danger">
                                Password is required
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="p-4">
                    <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid">Login</button>
                    <button type="button" class="btn btn-info ms-4" (click)="logout()">Logout</button>
                </div>
            </form>
        </div>
    </div>